<!DOCTYPE html>
<html lang="%%LANGUAGE%%" class="dark" dir="%%TEXT_DIRECTION%%">
<head>
    <meta charset="utf-8">
    <title>%%APP_NAME%% - %%TITLE%%</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/assets/fonts/font-awesome/4.7.0.min.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap-5.3.1/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/plugins/jquery.1.11.3/jquery.min.js"></script>
    <script src="/assets/plugins/bootstrap-5.3.1/bootstrap.bundle.js"></script>
    <script src="/assets/js/base.js"></script>
    <!--%%TEMPLATE_DATA--><!--TEMPLATE_DATA%%-->
    <!--%%HEADER--><!--HEADER%%-->
</head>
<body>
    <!--%%BODY--><!--BODY%%-->
</body>
</html>